.place__author-artist {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  grid-area: place__author__artist;
  margin-bottom: 8px;
  max-width: 10.96%;
  margin-top: 0;
}

@media screen and (max-width: 585px) {
  .place__author-artist {
    max-width: 90%;
  }
}
