.place__author__name-role {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */
color: #FFFFFF;
grid-area:place__author__name-role;
margin: 0;
}