.button-buy__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
  padding: 13px 20px;
}
