.place__button {
  grid-area: button-buy_place;
  max-width: 248px;
}


@media screen and (min-width: 321px) and (max-width: 585px) {
  .place__button {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place__button {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
