.intro__quote {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.41;
  text-align: left;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 720px;
  margin-left: 11.56%;
  margin-right: 32.18%;
}

@media screen and (max-width: 585px) {
  .intro__quote {
    max-width: 288px;
    line-height: 30px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
