.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;
   margin-top: 0;
   margin-bottom: 3.2%;
}

@media  screen and (max-width: 768px) {
    .lead__title {
        
    }
}

@media  screen and (max-width: 768px) {
    .lead__title {
        
    }
}