.footer__copyright {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}



@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 1.0;
  }
}
