.group9__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  /* identical to box height, or 106% */
  text-align: center;
  color: #fffdfd;
}
