.cover__visit-us-subtitle {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  max-width: 280px;
  margin: 32px 0;
  z-index: 1;
}
