.lead__image {
  max-width: 76.8%;
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-bottom: 88px;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-bottom: 64px;
  }
}
