.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  max-width: 720px;
  max-height: 5.62%;
  margin: auto;
  margin-bottom: 6.5%;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-bottom: 4.6%;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 90%;
    max-height: 12.5%;
    margin-bottom: 12.5%;
  }
}
