.cover {
    margin-top: 1.85%;
    margin-bottom: 7.7%;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    width: 92.5%;
    height: 57.8125%;
    position: relative;
    min-height: 740px;
    background: url(../../images/cover_background.jpg);
}