.cover {
    margin-top: 1.85%;
    margin-bottom: 7.7%;
    margin-right: auto;
    margin-left: auto;
    width: 92.5%;
    position: relative;
    min-height: 100vh;
    background: url(../../images/cover_background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}