.cover {
  margin-top: 12px;
  margin-bottom: 7.7%;
  margin-right: auto;
  margin-left: auto;
  width: 92.5%;
  position: relative;
  min-height: 740px;
  background: url(../../images/cover_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover:hover .cover__overlay {
  transition: ease-in 0.9s;
  opacity: 0.8;
}

@media screen and (max-width: 975px) {
  .cover {
    width: 100%;
    margin-top: 14px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 320px;
    height: 254px;
    margin-bottom: 64px;
  }
}
