.place__text-paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  /* grid-area: place__text-paragraph; */
  margin-top: 25px;
  margin-bottom: 0;
}

.place__text-paragraph:first-of-type {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__text-paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

