.cover__visit-us-title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fffdfd;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 585px) {
  .cover__visit-us-title {
    font-size: 32px;
    line-height: 1.09;
  }
}
