.place__author-name-role {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  grid-area: place__author__name-role;
  margin: 0;
  max-width: 100%;
}

/* @media screen and (max-width: 768px) {
  .place__author-name-role {
    width: 316px;
  }
}

@media screen and (max-width: 320px) {
  .place__author-name-role {
    width: 288px;
  }
} */
