.place {
  display: grid;
  grid-template-areas:
    "place__title place__author"
    "place__image place__text"
    "button-buy_place place__text"
    ". place__text";
  gap: 48px 40px;
  margin-bottom: 6.25%;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    margin-bottom: 9.375%;
  }
}

@media screen and (max-width: 510px) {
  .place {
    grid-template-areas:
      "place__title"
      "place__author"
      "place__image"
      "place__text"
      "button-buy_place";
    row-gap: 30px;
    margin-bottom: 15.625%;
  }
}
