.cover__visit-us__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  width: 42.6%;
  margin: 4.8% auto 4.8%;
}
