.cover__visit-us__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  max-width: 280px;
  margin: 32px 0;
  z-index: 1;
}
