.intro__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #ffffff;
  margin-top: 2.5%;
  margin-bottom: 3.1%;
  max-height: 15.6%;
  max-width: 785px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
    margin-bottom: 5.5%;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    width: 288px;
    height: 43.75%;
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 12.5%;
  }
}
